@model TravelReviewProject.Models.Destination

@{
    ViewBag.Title = "Details";
}

<h2>Destination Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

    </dl>
    <hr />
    <h3>Future versions of this page could include:</h3>
    <ul>
        <li>Capital</li>
        <li>Local currency</li>
        <li>Currency exchange rates</li>
        <li>Population facts</li>
        <li>Links to maps</li>
    </ul>
</div>
<p class="followMe">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
