@model IEnumerable<TravelReviewProject.Models.Destination>

@{
    ViewBag.Title = "Index";
}

<h2>Places We've Been</h2>

<h4>Sort by destination, country or language!</h4>
<table class="table sortable">
    <tr class="tableHeading"> @*add a class to style heading*@
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        @*<th></th>*@ @*TH removed because not needed*@
    </tr>

@foreach (var item in Model) {
    <tr class="tableBody">  @*add class to style body of table*@
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |

            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<h4 class="followMe">
    @Html.ActionLink("Make our world bigger by adding new destinations!", "Create")
</h4>
