@model TravelReviewProject.Models.Review

@{
    ViewBag.Title = "Delete";
}

<h2>Delete A Review</h2>

<h4>Are you sure you want to delete something?</h4>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cost.EstimatedCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost.EstimatedCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating.UserRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.UserRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Destination List", "Index")
        </div>
    }
</div>
