@model TravelReviewProject.Models.Review

@{
    ViewBag.Title = "Details";
}

@*<h2>What Others Have To Say About:</h2>*@  @*TRY ADDING INFO AT TOP HERE*@
<h2>@Html.DisplayFor(model => model.Destination.City)</h2> @*that's the new part*@
<h2>"@Html.DisplayFor(model => model.ReviewTitle)"</h2>
<h2>@Html.DisplayFor(model => model.Rating.UserRating)</h2>
<div>
    <div>
        <hr />
        <h4>@Html.DisplayFor(model => model.UserReview)</h4>
        <hr />
    </div>

    <dl @*class="dl-horizontal"*@ class="dl-vertical font120">
        @*<dt>
            @Html.DisplayNameFor(model => model.Destination.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination.City)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Rating.UserRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.UserRating)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewTitle)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.UserReview)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserReview)
        </dd>*@
       
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost.EstimatedCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost.EstimatedCost)
        </dd>

    </dl>
</div>
<hr/>
<h4 class="followMe">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to All Reviews", "Index")
</h4>
