@model IEnumerable<TravelReviewProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Existing Reviews</h2>
<h4>Sort by destination or rating</h4>


@*<table class="table">*@
    <table class="table sortable">
        <tr class="tableHeading"> @*add class to style table heading*@

            <th>
                @Html.DisplayNameFor(model => model.Destination.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating.UserRating)
            </th>

            @*try: taking out Review in table header*@

            @*<th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>*@

            @*<th></th>*@ @*this TH removed because it gave up/down buttons, not needed*@
        </tr>

        @foreach (var item in Model)
        {
            <tr class="tableBody"> @*add class to style body of table*@

                <td>
                    @Html.DisplayFor(modelItem => item.Destination.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating.UserRating)
                </td>

                @*ADD: make this column the hyperlink. cut and paste from below I guess?*@
                @*You would up doing the reverse.*@

                @*<td>
                    @Html.DisplayFor(modelItem => item.ReviewTitle)
                </td>*@

                @*Can you make the hyperlinks the item.ReviewTitle? YES*@

                <td>
                    @*DO: remove generic link to full review, keep specialized link*@
                    @*@Html.ActionLink("Read the full review!", "Details", new { id = item.ID }) |*@

                    @*the following line works (so far) can you remove first, unlinked mention?*@
                    @Html.ActionLink(item.ReviewTitle, "Details", new { id = item.ID })
                </td>
                <td>
                    @*can you put those other two in the own columns? probably with their own td divisions? YES*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>


        }

    </table>

<h4  class="followMe">
    @*Want to write your own review?*@
    @Html.ActionLink("Add your own review!", "Create")

    @*TRY THIS. DELETE IF NOT WORKING*@

    @*Need to add a new destination?*@
    @Html.ActionLink("Add a new destination!", "Create", "Destinations")

    @*FLIP THOSE LAST TWO if it doesn't work. IT WORKS.*@
</h4>
