@model IEnumerable<TravelReviewProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Existing Reviews</h2>
<h4>Sort by Destination or Rating</h4>

@*can you make review title UNsortable?*@

@*<table class="table">*@
    <table class="table sortable">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Destination.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating.UserRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Destination.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating.UserRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewTitle)
                </td>

                <td>
                    @Html.ActionLink("Read the full review!", "Details", new { id = item.ID }) |

                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>


        }

    </table>

<p>
    Want to write your own review?
    @Html.ActionLink("Write it here!", "Create")

    @*TRY THIS. DELETE IF NOT WORKING*@

    Need to add a new destination?
    @Html.ActionLink("Add one here!", "Create", "Destinations")

    @*FLIP THOSE LAST TWO if it doesn't work*@
</p>
