@model IEnumerable<TravelReviewProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Existing Reviews</h2>
<h4>Sort by destination or rating</h4>



    <table class="table sortable">  @*columns with headers will be sortable*@
        <tr class="tableHeading"> @*class to style table heading*@

            <th>
                @Html.DisplayNameFor(model => model.Destination.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating.UserRating)
            </th>

            @*try: taking out Review in table header. Result: No sort feature there. Good*@

            @*<th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>*@

        </tr>

        @foreach (var item in Model)
        {
            <tr class="tableBody"> @*class to style body of table*@

                <td>
                    @Html.DisplayFor(modelItem => item.Destination.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating.UserRating)
                </td>

                @*ADD: make this column the hyperlink. cut and paste from below I guess?*@
                @*You wound up doing the reverse.*@

                @*<td>
                    @Html.DisplayFor(modelItem => item.ReviewTitle)
                </td>*@

                @*Can you make the hyperlinks the item.ReviewTitle? YES. yay*@

                <td>
                    @*the following line works (so far) can you remove first, unlinked mention? YES*@
                    @Html.ActionLink(item.ReviewTitle, "Details", new { id = item.ID })

                    @*@Html.ActionLink("Read the full review!", "Details", new { id = item.ID }) |*@
                </td>
                <td>
                    @*"Details" changed to a direct link from Title, above*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>


        }

    </table>

<h4  class="followMe">

    @Html.ActionLink("Add your own review!", "Create")

    @Html.ActionLink("Add a new destination!", "Create", "Destinations")

</h4>
